.update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update .inner_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.inner_div input{
    margin-top: 4rem;
    width: 30%;
    padding: 0.7rem;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    outline: none;
    font-weight: bolder;
}

.inner_div button{
    margin-top: 2rem;
    background-color: white;
    width: 10%;
    padding: 0.9rem;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}